In [21]:
import mysql.connector as cnt
import matplotlib.pyplot as plt
%matplotlib qt5
import numpy as np

In [22]:
DBworks = cnt.connect(
host='localhost',
user='root',
password='***', # user MySQL database password
database = 'vcshomework'
)

c = DBworks.cursor()

In [23]:
c.execute("select avg(cb42) from dus_2014 where b21 = 'M' group by b25 order by b25")
atsm14 = c.fetchall()
m_2014 = tuple()
m_2014 = m_2014+(float(atsm14[0][0])/3.4528,)
m_2014 = m_2014+(float(atsm14[1][0])/3.4528,)
m_2014 = m_2014+(float(atsm14[2][0])/3.4528,)
m_2014 = m_2014+(float(atsm14[3][0])/3.4528,)
c.execute("select avg(cb42) from dus_2014 where b21 = 'F' group by b25 order by b25")
atsf14 = c.fetchall()
f_2014 = tuple()
f_2014 = f_2014+(float(atsf14[0][0])/3.4528,)
f_2014 = f_2014+(float(atsf14[1][0])/3.4528,)
f_2014 = f_2014+(float(atsf14[2][0])/3.4528,)
f_2014 = f_2014+(float(atsf14[3][0])/3.4528,)

In [24]:
c.execute("select avg(b42) from dus_2018 where b21 = 'M' group by b25 order by b25")
atsm18 = c.fetchall()
m_2018 = tuple()
m_2018 = m_2018+(float(atsm18[0][0]),)
m_2018 = m_2018+(float(atsm18[1][0]),)
m_2018 = m_2018+(float(atsm18[2][0]),)
m_2018 = m_2018+(float(atsm18[3][0]),)
c.execute("select avg(b42) from dus_2018 where b21 = 'F' group by b25 order by b25")
atsf18 = c.fetchall()
f_2018 = tuple()
f_2018 = f_2018+(float(atsf18[0][0]),)
f_2018 = f_2018+(float(atsf18[1][0]),)
f_2018 = f_2018+(float(atsf18[2][0]),)
f_2018 = f_2018+(float(atsf18[3][0]),)

In [25]:
c.execute("select `Percent` from depr_eu_education where GEO = 'Lithuania' and SEX = 'Males' and TIME = 2014 group by ISCED11 order by ISCED11")
atsmd14 = c.fetchall()
md_2014 = tuple()
md_2014 = md_2014+(float(atsmd14[0][0]),)
md_2014 = md_2014+(float(atsmd14[1][0]),)
md_2014 = md_2014+(float(atsmd14[2][0]),)
c.execute("select `Percent` from depr_eu_education where GEO = 'Lithuania' and SEX = 'Females' and TIME = 2014 group by ISCED11 order by ISCED11")
atsfd14 = c.fetchall()
fd_2014 = tuple()
fd_2014 = fd_2014+(float(atsfd14[0][0]),)
fd_2014 = fd_2014+(float(atsfd14[1][0]),)
fd_2014 = fd_2014+(float(atsfd14[2][0]),)

c.execute("select `Percent` from depr_eu_education where GEO = 'Lithuania' and SEX = 'Males' and TIME = 2018 group by ISCED11 order by ISCED11")
atsmd18 = c.fetchall()
md_2018 = tuple()
md_2018 = md_2018+(float(atsmd18[0][0]),)
md_2018 = md_2018+(float(atsmd18[1][0]),)
md_2018 = md_2018+(float(atsmd18[2][0]),)
c.execute("select `Percent` from depr_eu_education where GEO = 'Lithuania' and SEX = 'Females' and TIME = 2018 group by ISCED11 order by ISCED11")
atsfd18 = c.fetchall()
fd_2018 = tuple()
fd_2018 = fd_2018+(float(atsfd18[0][0]),)
fd_2018 = fd_2018+(float(atsfd18[1][0]),)
fd_2018 = fd_2018+(float(atsfd18[2][0]),)

In [26]:
fig, g = plt.subplots(2,2)
ind0 = np.arange(4)
ind1 = np.arange(3)
p001 = g[0][0].bar(ind0, m_2014, width = 0.50, label='Men', color = 'royalblue')
p002 = g[0][0].bar(ind0, f_2014, width = 0.50, bottom=m_2014, label='Women', color = 'coral')

g[0][0].set_ylabel('EUR', color = 'dimgrey')
g[0][0].set_title('2014')
g[0][0].set_xticks(ind0, labels=['G1', 'G2', 'G3', 'G4'], fontsize=14)
g[0][0].legend()
g[0][0].bar_label(p001, label_type='center', fmt='%.0f')
g[0][0].bar_label(p002, label_type='center', fmt='%.0f')

p011 = g[0][1].bar(ind0, m_2018, width = 0.50, label='Men', color = 'royalblue')
p012 = g[0][1].bar(ind0, f_2018, width = 0.50, bottom=m_2018, label='Women', color = 'coral')

g[0][1].set_ylabel('EUR', color = 'dimgrey')
g[0][1].set_title('2018')
g[0][1].set_xticks(ind0, labels=['G1', 'G2', 'G3', 'G4'], fontsize=14)
g[0][1].legend()
g[0][1].bar_label(p011, label_type='center', fmt='%.0f')
g[0][1].bar_label(p012, label_type='center', fmt='%.0f')

p101 = g[1][0].bar(ind1, md_2014, width = 0.50, label='Men', color = 'royalblue')
p102 = g[1][0].bar(ind1, fd_2014, width = 0.50, bottom=md_2014, label='Women', color = 'coral')

g[1][0].set_ylabel('Percent', color = 'dimgrey')
g[1][0].set_title('2014')
g[1][0].set_xticks(ind1, labels=['G1', 'G2', 'G3'], fontsize=14)
g[1][0].legend()
g[1][0].bar_label(p101, label_type='center', fmt='%.2f')
g[1][0].bar_label(p102, label_type='center', fmt='%.2f')

# grafikas 1 1
p111 = g[1][1].bar(ind1, md_2018, width = 0.50, label='Men', color = 'royalblue')
p112 = g[1][1].bar(ind1, fd_2018, width = 0.50, bottom=md_2018, label='Women', color = 'coral')

g[1][1].set_ylabel('Percent', color = 'dimgrey')
g[1][1].set_title('2018')
g[1][1].set_xticks(ind1, labels=['G1', 'G2', 'G3'], fontsize=14)
g[1][1].legend()
g[1][1].bar_label(p111, label_type='center', fmt='%.2f')
g[1][1].bar_label(p112, label_type='center', fmt='%.2f')

plt.suptitle('Avg salary vs Depression share (Lithuania)')
plt.tight_layout()
plt.show()
DBworks.close()